*.o
*.a
*.la
*.so
*.elc
*.pyc
*.class
*.jar
*.classpath
*.settings/
*.project
*.sconsign.dblite
*.iml
*.exe
*.log
.idea
.lein
*.DS_Store
a.out*

utils/.emacs.d/tramp
utils/.emacs.d/ac-comphist.dat
utils/.emacs.d/auto-save-list/
utils/.emacs.d/session.*
utils/.emacs.d/.session
utils/.emacs.d/anything-c-adaptive-history
utils/.emacs.d/org-clock-save.el
utils/.emacs.d/backups/
utils/.emacs.d/.smex-items

essay/*.html
essay/note/*.html
essay/note/private
www/images
www/css
sae/
#www/kylin.html

essay/*.html
essay/note/*.html

target/
